body, div:not(.mw-notification-area-overlay), h1, h2, h3, h4, ul, li, th{
    background-color: #121212 !important;
    color: #B7BABC !important;
  }

table, table div {
    background-color: #171717 !important;
    color: #B7BABC !important;
}

.infobox-subheader, .MainPageBG {
    background-color: #171717 !important;
    color: #B7BABC !important;
}

pre, code, .mw-code {
    background-color: #8c8c8c;
    color: #000;
    border: 1px solid #8c8c8c;
}

input {
    background-color: rgba(255,255,255) !important;
}


li {
    background-image: none !important;
}

span {
  color: #B7BABC !important;
}


a {
    color: #6BAAE4 !important;
}

.mw-body {
    border: 1px solid #6BAAE4 !important;
}

.mw-wiki-logo {
    background-image: url(/images/enwikiWhiteText.png) !important;
}

.mw-notification-area-overlay {
    background-color: revert;
}